@model IEnumerable<Client>

<div class="container mb-5">
    <h1 class="container col-sm-6 mt-5">Новый клиент удачно добавлен</h1>
    <div class="col-lg-4">
        @foreach (var item in Model)
        {
            <p>Клиент: @item.Name</p>
            <p>ИНН: @item.Inn</p>
            <p>Тип: @item.IsEntrepreneur.ToString()</p>
            <p>Дата добавления: @item.DateAdded</p>
            <p>Дата обновления: @item.DateOfUpdate</p>
            <p>
                Учредители:
            </p>
            @*@{
                foreach (var founder in Model.Founders)
                {
                    <p>@founder.FullName</p>
                }
            }*@
        }


    </div>
</div>