@model Client

<div class="container mb-5">
    <h1 class="container col-sm-6 mt-5">Новый клиент удачно добавлен</h1>
    <div class="col-lg-4">
        <p>Клиент: @Model.Name</p>
        <p>ИНН: @Model.Inn</p>
        <p>Тип: @Model.IsEntrepreneur.ToString()</p>
        <p>Дата добавления: @Model.DateAdded</p>
        <p>Дата обновления: @Model.DateOfUpdate</p>
        <p>
            Учредители:
        </p>

        @*@{
            foreach (var founder in Model.Founders)
            {
                <p>@founder.FullName</p>
            }
        }*@
    </div>
</div>