<h1>Все клиенты:</h1>
<h1></h1>
<div class="row mt-5 mb-2">
    @{
        foreach (var client in Model.AllClient) /*сделать вывод на листбокс?!*/
        {
            <div class="col-lg-4">
                <p>Клиент: @client.Name</p>
                <p>ИНН: @client.Inn</p>
                <p>Тип: @client.IsEntrepreneur.ToString()</p>
                <p>Дата добавления: @client.DateAdded</p>
                <p>Дата обновления: @client.DateOfUpdate</p>
                <p>
                    Учредители:
                </p>

                @{
                    foreach (var founder in client.Founders)
                    {
                        <p>@founder.FullName</p>
                    }
                }
            </div>
        }
    }
</div>
