<div class="mt-5">
    <h1 class="mt-5 mb-2">Все клиенты:</h1>
    <div class="row mt-2 mb-2">
        @{
            foreach (var client in Model.AllClient) /*сделать вывод на листбокс?!*/
            {
                <div class="col-lg-4 mt-2 mb-2">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div>
                                <p>Клиент: @client.Name</p>
                                <p>ИНН: @client.Inn</p>
                                @{
                                    if (client.IsEntrepreneur)
                                    {
                                        <p>Тип: Индивидуальный предприниматель</p>
                                    }
                                    else
                                    {
                                        <p>Тип: Юридическое лицо</p>
                                    }
                                }
                                <p>Дата добавления: @client.DateAdded</p>
                                @*<p>Дата обновления: @client.DateOfUpdate</p>*@
                                <p>
                                    Учредители:
                                </p>

                                @{
                                    foreach (var founder in client.Founders)
                                    {
                                        <p>@founder.FullName</p>
                                    }
                                }
                            </div>
                            <form asp-controller="Clients">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" onclick="DeleteWin(@client.Id);" class="btn btn-sm btn-outline-secondary">Удалить</button>
                                        <button type="submit" asp-controller="Clients" asp-action="ClientEditing" asp-route-clientId="@client.Id" class="btn btn-sm btn-outline-secondary">Отредактировать</button>
                                    </div>
                                    <small class="text-muted">@String.Format("{0:dd.MM.yyyy}", client.DateOfUpdate.Date)<br /></small>
                                    <small class="text-muted">@String.Format("{0:HH.mm}", client.DateOfUpdate)</small>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>
<script language='JavaScript'>
    function DeleteWin(id) {
        var res = confirm('Вы уверены, что хотите удалить клиента?');
        if (res) {
            let form = document.createElement('form');
            form.action = '/Clients/ClientRemove';
            form.method = 'post';
            form.innerHTML = '<input name="clientId" value="' + id + '">';
            document.body.append(form);
            form.submit();
        }
    }
</script>